<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>About Us</title>
    <link rel="icon" type="image/x-icon" href="../../images/16x16-SLUHN.ico">
    <link rel="apple-touch-icon" href="../../images/star_apple-touch-icon-192x192.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- inject:css -->
    <link rel="stylesheet" href="../../css/style.min.css">
    <!-- endinject -->

</head>

<body class="body">
    <header class="header">

        <div class="header__one">
            <div class="header__container__one">

                <div class="header__container__one-logo">
                    <img src="../../images/logo.png" class="header__container__one-logo-image" alt="">
                    <i class="fa-solid fa-bars header__container__one-logo-menu-bar"></i>
                </div>

                <ul class="header__container__one-nav-links">

                    <li class="heading__li">
                        <a href="#" class="header__container__one-nav-links-item">HOMEBUYERS</a>
                        <ul class="ul__header">
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Homebuying Process</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Online Homebuying</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Our Affiliates</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Blog: The Front Porch</a>
                            </li>
                        </ul>
                    </li>

                    <li class="heading__li">
                        <a href="#" class="header__container__one-nav-links-item">HOMEOWNERS</a>
                        <ul class="ul__header">
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Maintenance Videos</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Caring For Your Home</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Customer Service</a>
                            </li>

                        </ul>
                    </li>

                    <li class="heading__li">
                        <a href="#" class="header__container__one-nav-links-item">DISCOVER CENTURY</a>
                        <ul class="ul__header">
                            <li>
                                <a href="" class="ul__header__sub__menu-a">About Us</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Century Home Connect</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Careers</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Homeowner Reviwes</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Vendor Partners</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">News</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Investors</a>
                            </li>

                        </ul>
                    </li>

                    <li class="heading__li">
                        <a href="#" class="header__container__one-nav-links-item">CONTACT US</a>
                        <ul class="ul__header">
                            <li>
                                <a href="" class="ul__header__sub__menu-a">General Inquiry</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Land Submission</a>
                            </li>

                            <li>
                                <a href="" class="ul__header__sub__menu-a">Media</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Our Offices</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Realtors</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Trade Partners</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Warrenty Claim</a>
                            </li>

                        </ul>
                    </li>

                </ul>

            </div>

            <div class="header__container__two">

                <div class="header__container__two-div">
                    <input type="search" name="" id="" placeholder="Enter city, state or zip to search new homes"
                        class="header__container__two-div-input">
                    <i class="fa fa-search header__container__two-div-search-icon"></i>
                </div>

                <div class="header__container__two-vl">

                </div>

                <p class="header__container__two-p">Or use map</p>
                <img src="../../images/map-icon.png" class="header__container__two-map-icon" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" alt="">

            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- <img src="../../images/century-map-image.png" alt=""
                    class="header__modal__body-image"
                    > -->
                    </div>

                </div>
            </div>
        </div>



    </header>

    <main id="main">
        <div class="about__us__hero ">
            <h1 class="about__us__hero-heading">About us</h1>
        </div>
        <div class="about__us__hero-banner">
            <p class="about__us__hero-banner-main-heading">
                Built on trust.
            </p>
            <p class="about__us__hero-banner-title">
                Since 2002, we’ve been building on our vision of a home for every dream in sought-after metros from coast to
                coast—specializing in everything from single-family homes to townhomes, condos and flats across 17 states. We
                also offer a hands-on process—uniquely tailored to your needs and lifestyle—providing guidance on neighborhood
                amenities, smart home technologies, home loans and more. It’s all about delivering the quality home you’ve been
                dreaming of.
                </p>
        </div>
        <div class="about__us__brands">

            <div class="about__us__brands-container">
                <h1 class="about__us__brands-container-heading">
                    OUR BRANDS
                </h1>
                <p  class="about__us__brands-container-heading-two"> 
                    Find your best fit with two exceptional brands.
                </p>
            </div>

            <div class="about__us__brands-containers">

                <img src="../../images/century-communities-about-us.png" 
                class="about__us__brands-containers-image"
                alt="">
                <p class="about__us__brands-containers-sub-heading">
                    Our flagship brand, offering everything from single-family floor plans to condos and townhomes. Enjoy the
                    freedom to build and personalize your new home from the ground up or find the perfect quick move-in listing.
                </p>

                <ul class="about__us__brands-containers-ul">
                    <li class="about__us__brands-containers-ul-li">
                        <p class="about__us__brands-containers-ul-li-p purple-tags">
                            To-be-built and quick move-in homes
                        </p>
                    </li>

                    <li class="about__us__brands-containers-ul-li">
                        <p class="about__us__brands-containers-ul-li-p purple-tags">
                            Full smart home package
                        </p>
                    </li>

                    <li class="about__us__brands-containers-ul-li">
                        <p class="about__us__brands-containers-ul-li-p purple-tags">
                            Ability to reserve online
                        </p>
                    </li>
                </ul>

            </div>

            <div class="about__us__brands-containers">

                <img src="../../images/century-complete-about-us.png"
                class="about__us__brands-containers-complete-image"
                alt="">
                <p class="about__us__brands-containers-sub-heading">
                    Affordable and streamlined, Century Complete offers built-in savings through a groundbreaking online
                    purchase process and a versatile selection of quick move-in homes. Complete quality, complete convenience.
                </p>

                <ul class="about__us__brands-containers-ul">
                    <li class="about__us__brands-containers-ul-li">
                        <p class="about__us__brands-containers-ul-li-p blue-tags">
                            Quick move-in homes
                        </p>
                    </li>

                    <li class="about__us__brands-containers-ul-li">
                        <p class="about__us__brands-containers-ul-li-p blue-tags">
                            Starter smart home packages
                        </p>
                    </li>
                    <li class="about__us__brands-containers-ul-li">
                        <p class="about__us__brands-containers-ul-li-p blue-tags">
                            Ability to buy online
                        </p>
                    </li>
                </ul>

            </div>


        </div>
        
        <div class="our-affiliates-bg">
            <div class="about__us__brands">

                <div class="about__us__brands-container">
                    <h1 class="about__us__brands-container-heading">
                        OUR AFFILIATES
                    </h1>
                    <p class="about__us__brands-container-heading-two">
                        Simplify the process with in-house services.
                    </p>
                </div>
    
                <div class="about__us__brands-containers our-affiliates">
    
                    <img src="../../images/inspire-home-buying.png" class="about__us__brands-containers-image our-affiliates-image"
                        alt="">
                    <p class="about__us__brands-containers-sub-heading">
                        Offering a wide range of financing options, Inspire Home Loans will help you secure the best mortgage for
                        your dream home.
                    </p>
    
                    <p class="our-affiliates-learn-more">
                        Learn more
                    </p>
    
                </div>
    
                <div class="about__us__brands-containers our-affiliates">
    
                    <img src="../../images/parkway-home-buying.png"
                        class="about__us__brands-containers-complete-image our-affiliates-image" alt="">
                    <p class="about__us__brands-containers-sub-heading">
                        A full-service agency, Parkway Title delivers cost-effective and streamlined title insurance and settlement
                        service solutions.
                    </p>
                    <p class="our-affiliates-learn-more">
                        Learn more
                    </p>
    
                </div>
    
                <div class="about__us__brands-containers our-affiliates">
    
                    <img src="../../images/ihl-home-agency.png"
                        class="about__us__brands-containers-complete-image our-affiliates-image" alt="">
                    <p class="about__us__brands-containers-sub-heading">
                        Quick, precise and easy to work with, the full-service team at IHL Home Insurance will find the best
                        coverage to protect your dream home, at the best price.
                    </p>
                    <p class="our-affiliates-learn-more">
                        Learn more
                    </p>
    
                </div>
    
    
            </div>    
        </div>
        <div class="about__us__careers-container-div">
            <div class="about__us__brands about__us__careers-container">

                <div class="about__us__brands-container">
                    <h1 class="about__us__brands-container-heading">
                        CAREERS
                    </h1>
                    <p class="about__us__brands-container-heading-two">
                        Build your dream career with Century Communities.
                    </p>
                </div>
    
                <div class="about__us__brands-containers about__us__careers">
    
                    <p class="about__us__brands-containers-sub-heading">
                        Take your career to the next level with one of the nation’s top public homebuilders—featuring operations in
                        locations across the United States. We offer competitive compensation, benefits, and 401(k) options, and our
                        fast-growing environment provides ample opportunity for growth. Explore our job openings today!
                    </p>
    
                    <button class="about__us__careers-button">See current opportunities</button>
        
                </div>
    
                <div class="about__us__brands-containers about__us__careers">
    
                    <img src="../../images/about-us-careers-image.png" 
                    class="about__us__brands-containers-complete-image about__us__careers-image"
                        alt="">
         
    
                </div>
    
    
            </div>
        </div>
    </main>
    <div class="footer">

        <div class="footer__container container-xxl">

            <div class="footer__container__one">

                <div class="footer__container__one-div">

                    <h1 class="footer__container__one-div-heading">Homebuyers</h1>
                    <p class="footer__container__one-div-sub-heading">
                        Homebuying Process
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Our Affiliates
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Blog
                    </p>

                    <div class="footer__container__one-div-images">
                        <img src="../../images/inspire-image.png" alt="">
                        <img src="../../images/parkway-image.png" alt="">
                        <img src="../../images/ihl-image.png" alt="">
                    </div>

                </div>

                <div class="footer__container__one-div">

                    <h1 class="footer__container__one-div-heading">Homeowner</h1>
                    <p class="footer__container__one-div-sub-heading">
                        Maintenance Videos
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Caring for Your New Home
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Customer Service
                    </p>
                </div>

                <div class="footer__container__one-div">
                    <h1 class="footer__container__one-div-heading">Discover century</h1>
                    <p class="footer__container__one-div-sub-heading">
                        About Us
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Century Home Connect
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Homeowner Reviews
                    </p>
                    <p class="footer__container__one-div-sub-heading"> News</p>
                    <p class="footer__container__one-div-sub-heading">Careers</p>
                    <p class="footer__container__one-div-sub-heading">Investors</p>
                </div>

                <div class="footer__container__one-div">

                    <h1 class="footer__container__one-div-heading">Contact Us</h1>

                    <p class="footer__container__one-div-sub-heading">
                        General Inquiry
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Realtors
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Land Submission
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Trade Partners
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Media
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Warranty Claim
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Our Offices
                    </p>

                </div>

            </div>


            <div class="footer__container__two">

                <div class="footer__container__two-first">

                    <div class="footer__container__two-first-div">
                        <img src="../../images/century-communities-footer-image.png" 
                        class="footer__container__two-first-div-image"
                        alt="">
                        <div class="footer__container__two-first-div-vl">

                        </div>
                        <i class="fa-brands fa-linkedin-in footer__container__two-first-div-i"></i>
                        <i class="fa-brands fa-facebook-f footer__container__two-first-div-i"></i>
                        <i class="fa-brands fa-pinterest footer__container__two-first-div-i"></i>
                        <i class="fa-brands fa-instagram footer__container__two-first-div-i"></i>
                    </div>

                    <div class="footer__container__two-first-div">
                        <img src="../../images/century-complete-footer-image.png" 
                        class="footer__container__two-first-div-image"
                        alt="">
                        <div class="footer__container__two-first-div-vl">

                        </div>
                        <i class="fa-brands fa-linkedin-in footer__container__two-first-div-i"></i>
                        <i class="fa-brands fa-facebook-f footer__container__two-first-div-i"></i>
                        <i class="fa-brands fa-pinterest footer__container__two-first-div-i"></i>
                        <i class="fa-brands fa-instagram footer__container__two-first-div-i"></i>
                    </div>
                </div>

            
                <div class="footer__container__two-second">
                    <div class="footer__container__two-second-div">
                       <a href="#" class="footer__container__two-second-div-a">Privacy Policy</a>
                       <div class="footer__container__two-second-div-border-div"></div>
                       <a href="#" class="footer__container__two-second-div-a">Terms Of Use</a>
                       <div class="footer__container__two-second-div-border-div"></div>
                       <a href="#" class="footer__container__two-second-div-a">Excerise My Rights</a>
                    </div>
                    <p class="footer__container__two-second-copyright" >
                        © 2020 CENTURY COMMUNITIES, All Rights Reserved.
                    </p>
                </div>

            </div>

        </div>

    </div>
    <!-- JS ============================== -->

    <!-- inject:js -->
    <script src="../../js/main.min.js"></script>
    <!-- endinject -->
    <!-- / JS ============================ -->
</body>

</html>