<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Century Home Connect</title>
    <link rel="icon" type="image/x-icon" href="../../images/16x16-SLUHN.ico">
    <link rel="apple-touch-icon" href="../../images/star_apple-touch-icon-192x192.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <!-- inject:css -->
    <link rel="stylesheet" href="../../css/style.min.css">
    <!-- endinject -->
</head>

<body class="century__home__connect-body body">

    <header class="header">

        <div class="header__one">
            <div class="header__container__one">

                <div class="header__container__one-logo">
                    <img src="../../images/logo.png" class="header__container__one-logo-image" alt="">
                    <i class="fa-solid fa-bars header__container__one-logo-menu-bar"></i>
                </div>

                <ul class="header__container__one-nav-links">

                    <li class="heading__li">
                        <a href="#" class="header__container__one-nav-links-item">HOMEBUYERS</a>
                        <ul class="ul__header">
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Homebuying Process</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Online Homebuying</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Our Affiliates</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Blog: The Front Porch</a>
                            </li>
                        </ul>
                    </li>

                    <li class="heading__li">
                        <a href="#" class="header__container__one-nav-links-item">HOMEOWNERS</a>
                        <ul class="ul__header">
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Maintenance Videos</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Caring For Your Home</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Customer Service</a>
                            </li>

                        </ul>
                    </li>

                    <li class="heading__li">
                        <a href="#" class="header__container__one-nav-links-item">DISCOVER CENTURY</a>
                        <ul class="ul__header">
                            <li>
                                <a href="" class="ul__header__sub__menu-a">About Us</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Century Home Connect</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Careers</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Homeowner Reviwes</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Vendor Partners</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">News</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Investors</a>
                            </li>

                        </ul>
                    </li>

                    <li class="heading__li">
                        <a href="#" class="header__container__one-nav-links-item">CONTACT US</a>
                        <ul class="ul__header">
                            <li>
                                <a href="" class="ul__header__sub__menu-a">General Inquiry</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Land Submission</a>
                            </li>

                            <li>
                                <a href="" class="ul__header__sub__menu-a">Media</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Our Offices</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Realtors</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Trade Partners</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Warrenty Claim</a>
                            </li>

                        </ul>
                    </li>

                </ul>

            </div>

            <div class="header__container__two">

                <div class="header__container__two-div">
                    <input type="search" name="" id="" placeholder="Enter city, state or zip to search new homes"
                        class="header__container__two-div-input">
                    <i class="fa fa-search header__container__two-div-search-icon"></i>
                </div>

                <div class="header__container__two-vl">

                </div>

                <p class="header__container__two-p">Or use map</p>
                <img src="../../images/map-icon.png" class="header__container__two-map-icon" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" alt="">

            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- <img src="../../images/century-map-image.png" alt=""
                    class="header__modal__body-image"
                    > -->
                    </div>

                </div>
            </div>
        </div>



    </header>

    <main id="main">
        <div class="century__home__connect">
            <img src="../../images/home-connect-logo.png" alt="">
        </div>

        <div class="century__nav__items">
            <div class="century__nav__items-container-one">

               <a href="../Templates/century-home-connect.html">
                <img src="../../images/century-communities.png" class="century__nav__items-container-one-image" alt="">
               </a>

            </div>

            <div class="century__nav__items-breaker">

            </div>

            <div class="century__nav__items-container-two">
               <a href="../Templates/century-home-complete.html"> <img src="../../images/century-complete.png" 
        
                class="century__nav__items-container-two-image" alt=""></a>
            </div>

        </div>

        <div class="century__home">

            <h2 class="century__home__heading">Meet your new smart home ecosystem.</h2>
            <p class="century__home__sub-heading">
                Enjoy the following in-automation features with your Century Communities home—completely included!
            </p>

            <div class="century__home__smart-devices container-xxl">
                <img src="../../images/google-assistant.png" class="century__home__smart-devices-image" alt="">
                <img src="../../images/nexia.png" class="century__home__smart-devices-image" alt="">
                <img src="../../images/schlage.png" class="century__home__smart-devices-image" alt="">
                <img src="../../images/eaton.png" class="century__home__smart-devices-image" alt="">
                <img src="../../images/best-buy.png" class="century__home__smart-devices-image" alt="">
            </div>
    
          <div class="century__home__google-container-div">
            <div class="century__home__google container-xxl">

                <div class="century__home__google-image">
                    <img src="../../images/google-nest-hub.png" class="century__home__google-image-google" alt="">
                </div>

                <div class="century__home__google-details">
                    <h2 class="century__home__google-details-heading">GOOGLE NEST HUB</h2>
                    <p class="century__home__google-details-sub-heading">
                        Google Assistant speaker with a touchscreen display, enabling voice control of your connected
                        entertainment and smart home devices. Just start with “Hey Google”…
                    </p>

                    <img src="../../images/work-with-ga.png" class="century__home__google-details-google-image" alt="">
                </div>

            </div>

            <div class="century__home__google container-xxl century__home__google-second-div">
                <div class="century__home__google-details-second">
                    <h2 class="century__home__google-details-heading">Nexia™ Single-app control</h2>
                    <p class="century__home__google-details-sub-heading">
                        Automate, monitor and control settings and devices remotely with the Nexia mobile app. Easily connects
                        with voice assistant devices and up to 230 Z-Wave® devices throughout your smart home.
                    </p>

                    <div class="century__home__google-details-video">

                        <i class="fa-brands fa-youtube century__home__google-details-video-i"></i>

                        <p class="century__home__google-details-video-p"> &nbsp;Watch Video</p>
                    </div>

                </div>
                <div class="century__home__google-image-bg">
                    <i class="fa-solid fa-circle-play century__home__google-image-bg-play_btn" 
                    data-bs-toggle="modal" data-bs-target="#custom__modal"></i>
                </div>
            </div>
           </div> 

        </div>
        <div class="century__smart__systems container-xxl">

            <div class="century__smart__systems-container">
                <h2 class="century__smart__systems-heading">Schlage Electronic Front Door Lock</h2>
                <img class="century__smart__systems-image" src="../../images/century-smart-image-1.png" alt="">
                <p class="century__smart__systems-sub-heading">
                    Manage your door security from anywhere when paired with the Nexia home automation system
                </p>
                <img src="../../images/work-with-ga.png" alt="">
            </div>

            <div class="century__smart__systems-container">
                <h2 class="century__smart__systems-heading">Nexia™ Thermostat</h2>
                <img class="century__smart__systems-image" src="../../images/century-smart-image-3.png" alt="">
                <p class="century__smart__systems-sub-heading">
                    Smart thermostat enabled by Nexia™ for integrated smart comfort and energy efficiency.
                </p>

            </div>
            <div class="century__smart__systems-container">
                <h2 class="century__smart__systems-heading">Eaton Light Switches</h2>
                <img class="century__smart__systems-image" src="../../images/century-smart-image-2.png" alt="">
                <p class="century__smart__systems-sub-heading">
                    Hands-free control of your light switches, even allowing you to adjust indoor lighting when away from home.
                </p>
            </div>

        </div>


        <div class="century__best__buy">

            <div class="century__best__buy-container container-xxl">

                <img src="../../images/best-buy-white.png" alt="">

                <div class="century__best__buy-container-about-best-buy">
                    <h2 class="century__best__buy-container-about-best-buy-heading">
                        Plus, we make setup easy with a complimentary in-home consultation from Best Buy.
                    </h2>

                    <p class="century__best__buy-container-about-best-buy-sub-heading">
                        Professionally trained and certified, Best Buy™ In-Home Advisors will deliver your Google Nest Hub,
                        configure your Century Home Connect devices and show you how to get the most out of your smart home
                        technology!
                    </p>

                </div>

            </div>

        </div>


        <!-- Modal -->
        <div class="modal fade" id="custom__modal" tabindex="-1" aria-labelledby="custom__modal__Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-body">
                        <iframe title="vimeo-player" width="100%" height="100%" class="custom__modal__div-iframe"
                            frameborder="0" allowfullscreen></iframe>

                        <i class="fa-solid fa-circle-xmark custom__modal__div-iframe-video-close-btn"
                            data-bs-dismiss="modal"></i>
                    </div>

                </div>
            </div>
        </div>
        
        <div class="century__ready__home">
            <h1 class="century__ready__home-title">Ready for a smarter home?</h1>
            <button class="century__ready__home-button">Shop homes</button>
        </div>
        
        <div class="century__dimmer__communities">

            <div class="century__dimmer__communities-container container-xxl">


                <p class="century__dimmer__communities-container-paragraph">* Dimmers in California communities ONLY.</p>
                <p class="century__dimmer__communities-container-paragraph"> Century Home Connect devices installed in your home
                    that are connected to the internet may collect
                    information about you and your use of the device. This automated information is collected, used and analyzed
                    by the third-party providers of the devices and is governed by the terms, conditions, policies and practices
                    of such third-party providers only. Seller recommends that you carefully review your agreements with, and
                    other terms and conditions published by, these third-party providers. Seller does not collect any
                    information from these devices about you or your use of the devices. FOLLOW THE MANUFACTURERS’ INSTRUCTIONS
                    ON YOUR SMART DEVICES REGARDING SECURITY AND/OR PRIVACY CONCERNS. Purchaser is responsible for configuring
                    all security features. Seller does not warrant or represent that any Seller-installed “smart” devices or
                    network devices are secure or can prevent all privacy intrusions, malware or cyber-attacks, even when
                    correctly configured. Purchaser for himself, or herself, and his/her successors and assigns hereby agrees to
                    assume the risk of use of the Century Home Connect devices, any devices, products or appliances purchased
                    through Best Buy or its affiliates, and releases Seller and its members, managers, officers, employees,
                    affiliates, agents, successors and assigns from any and all costs, expenses, damages, liabilities and claims
                    arising from or related thereto. Certain products and services are provided by third parties, and not
                    Seller. Seller does not guarantee any equipment or services provided by third parties. Seller disclaims any
                    warranty of any kind, express or implied, relating to Century Home Connect devices, including without
                    limitation, any warranty of use, fitness of use, workmanship or quality. Seller’s disclaimer of warranties
                    does not limit or otherwise affect the warranty of any manufacturer or the installer. If a Century Home
                    Connect product malfunctions, or is otherwise defective, Purchaser agrees to follow the procedures in the
                    applicable manufacturer’s warranty documents. No affiliation or sponsorship is intended or implied with
                    Nexia, Google or Best Buy, and all trademarks are owned by the respective trademark owners. Google and
                    Google Nest Hub are trademarks of Google LLC. Devices may not arrive in original or retail packaging and are
                    not intended for individual resale. ©2019 Century Communities, Inc.
                </p>

            </div>

        </div> 

    </main>
    <div class="footer">

        <div class="footer__container container-xxl">

            <div class="footer__container__one">

                <div class="footer__container__one-div">

                    <h1 class="footer__container__one-div-heading">Homebuyers</h1>
                    <p class="footer__container__one-div-sub-heading">
                        Homebuying Process
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Our Affiliates
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Blog
                    </p>

                    <div class="footer__container__one-div-images">
                        <img src="../../images/inspire-image.png" alt="">
                        <img src="../../images/parkway-image.png" alt="">
                        <img src="../../images/ihl-image.png" alt="">
                    </div>

                </div>

                <div class="footer__container__one-div">

                    <h1 class="footer__container__one-div-heading">Homeowner</h1>
                    <p class="footer__container__one-div-sub-heading">
                        Maintenance Videos
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Caring for Your New Home
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Customer Service
                    </p>
                </div>

                <div class="footer__container__one-div">
                    <h1 class="footer__container__one-div-heading">Discover century</h1>
                    <p class="footer__container__one-div-sub-heading">
                        About Us
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Century Home Connect
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Homeowner Reviews
                    </p>
                    <p class="footer__container__one-div-sub-heading"> News</p>
                    <p class="footer__container__one-div-sub-heading">Careers</p>
                    <p class="footer__container__one-div-sub-heading">Investors</p>
                </div>

                <div class="footer__container__one-div">

                    <h1 class="footer__container__one-div-heading">Contact Us</h1>

                    <p class="footer__container__one-div-sub-heading">
                        General Inquiry
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Realtors
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Land Submission
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Trade Partners
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Media
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Warranty Claim
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Our Offices
                    </p>

                </div>

            </div>


            <div class="footer__container__two">

                <div class="footer__container__two-first">

                    <div class="footer__container__two-first-div">
                        <img src="../../images/century-communities-footer-image.png" 
                        class="footer__container__two-first-div-image"
                        alt="">
                        <div class="footer__container__two-first-div-vl">

                        </div>
                        <i class="fa-brands fa-linkedin-in footer__container__two-first-div-i"></i>
                        <i class="fa-brands fa-facebook-f footer__container__two-first-div-i"></i>
                        <i class="fa-brands fa-pinterest footer__container__two-first-div-i"></i>
                        <i class="fa-brands fa-instagram footer__container__two-first-div-i"></i>
                    </div>

                    <div class="footer__container__two-first-div">
                        <img src="../../images/century-complete-footer-image.png" 
                        class="footer__container__two-first-div-image"
                        alt="">
                        <div class="footer__container__two-first-div-vl">

                        </div>
                        <i class="fa-brands fa-linkedin-in footer__container__two-first-div-i"></i>
                        <i class="fa-brands fa-facebook-f footer__container__two-first-div-i"></i>
                        <i class="fa-brands fa-pinterest footer__container__two-first-div-i"></i>
                        <i class="fa-brands fa-instagram footer__container__two-first-div-i"></i>
                    </div>
                </div>

            
                <div class="footer__container__two-second">
                    <div class="footer__container__two-second-div">
                       <a href="#" class="footer__container__two-second-div-a">Privacy Policy</a>
                       <div class="footer__container__two-second-div-border-div"></div>
                       <a href="#" class="footer__container__two-second-div-a">Terms Of Use</a>
                       <div class="footer__container__two-second-div-border-div"></div>
                       <a href="#" class="footer__container__two-second-div-a">Excerise My Rights</a>
                    </div>
                    <p class="footer__container__two-second-copyright" >
                        © 2020 CENTURY COMMUNITIES, All Rights Reserved.
                    </p>
                </div>

            </div>

        </div>

    </div>
    <!-- JS ============================== -->

    <!-- inject:js -->
    <script src="../../js/main.min.js"></script>
    <!-- endinject -->
    <!-- / JS ============================ -->
</body>

</html>