<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Century Events</title>
    <link rel="icon" type="image/x-icon" href="../../images/16x16-SLUHN.ico">
    <link rel="apple-touch-icon" href="../../images/star_apple-touch-icon-192x192.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



    <!-- inject:css -->
    <link rel="stylesheet" href="../../css/style.min.css">
    <!-- endinject -->
</head>

<body class="body">

    <header class="header">

        <div class="header__one">
            <div class="header__container__one">

                <div class="header__container__one-logo">
                    <img src="../../images/logo.png" class="header__container__one-logo-image" alt="">
                    <i class="fa-solid fa-bars header__container__one-logo-menu-bar"></i>
                </div>

                <ul class="header__container__one-nav-links">

                    <li class="heading__li">
                        <a href="#" class="header__container__one-nav-links-item">HOMEBUYERS</a>
                        <ul class="ul__header">
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Homebuying Process</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Online Homebuying</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Our Affiliates</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Blog: The Front Porch</a>
                            </li>
                        </ul>
                    </li>

                    <li class="heading__li">
                        <a href="#" class="header__container__one-nav-links-item">HOMEOWNERS</a>
                        <ul class="ul__header">
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Maintenance Videos</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Caring For Your Home</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Customer Service</a>
                            </li>

                        </ul>
                    </li>

                    <li class="heading__li">
                        <a href="#" class="header__container__one-nav-links-item">DISCOVER CENTURY</a>
                        <ul class="ul__header">
                            <li>
                                <a href="" class="ul__header__sub__menu-a">About Us</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Century Home Connect</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Careers</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Homeowner Reviwes</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Vendor Partners</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">News</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Investors</a>
                            </li>

                        </ul>
                    </li>

                    <li class="heading__li">
                        <a href="#" class="header__container__one-nav-links-item">CONTACT US</a>
                        <ul class="ul__header">
                            <li>
                                <a href="" class="ul__header__sub__menu-a">General Inquiry</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Land Submission</a>
                            </li>

                            <li>
                                <a href="" class="ul__header__sub__menu-a">Media</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Our Offices</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Realtors</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Trade Partners</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Warrenty Claim</a>
                            </li>

                        </ul>
                    </li>

                </ul>

            </div>

            <div class="header__container__two">

                <div class="header__container__two-div">
                    <input type="search" name="" id="" placeholder="Enter city, state or zip to search new homes"
                        class="header__container__two-div-input">
                    <i class="fa fa-search header__container__two-div-search-icon"></i>
                </div>

                <div class="header__container__two-vl">

                </div>

                <p class="header__container__two-p">Or use map</p>
                <img src="../../images/map-icon.png" class="header__container__two-map-icon" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" alt="">

            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- <img src="../../images/century-map-image.png" alt=""
                    class="header__modal__body-image"
                    > -->
                    </div>

                </div>
            </div>
        </div>



    </header>

    <main id="main">
        <div class="special__offer">
            <div class="special__offer__image-div">
                <img src="../../images/bag.png" alt="">
                <p class="special__offer__image-div-heading">EVENTS</p>
            </div>

            <h1 class="container-xxl special__offer__heading">
                Grand opening: Cumberland Point, a new community in Gallatin, TN
            </h1>
        </div>
        
        <img
        class="special__offer__hero"
        src="../../images/gittar-player.png" alt="">

        <div class="special__about__offer">

            <div class="special__about__offer-container container-xxl">

                <div class="special__about__offer-container-one">
                    <div class="special__about__offer-container-one-div">
                        <img class="special__about__offer-container-one-div-image" src="../../images/century-logo-purple.png"
                            alt="">
                    </div>

                    <div class="special__about__offer-container-one-offer-div">
                        <p class="special__about__offer-container-one-offer-div-heading">
                            EVENT DETAILS</p>
                        <p class="special__about__offer-container-one-offer-div-sub-heading">Saturday, July 25, 2020</p>
                        <p class="special__about__offer-container-one-offer-div-sub-heading">10:00 am - 4:00 pm</p>

                        <p class="special__about__offer-container-one-offer-div-heading-two">
                            Community Name Hyperlink</p>

                        <p class="special__about__offer-container-one-offer-div-sub-heading">321 Something Avenue</p>
                        <p class="special__about__offer-container-one-offer-div-sub-heading">10:00 am - 4:00 pm</p>
                        <br>
                        <p class="special__about__offer-container-one-offer-div-sub-heading 
                        special__about__offer-container-one-offer-div-sub-heading-last">
                            Any other location or contact info goes here. Try and keep info in this area short. Lorem ipsum
                            dolor sit amet, consectetur.
                        </p>
                        <a href="#" class="special__about__offer-container-one-offer-div-save-calendar">Save to calendar</a>
                    </div>


                </div>


                <div class="special__about__offer-container-two">
                    <h1 class="special__about__offer-container-two-heading">
                        This is where your subhead would go, lorem ipsum dolor sit amet, consectetur adipiscing elit aenean euismod bibendum laore.
                    </h1>

                    <p class="special__about__offer-container-one-offer-div-sub-heading dark-color">
                        Any event details go here. Leque ornare aenean euismod elementum nisi quis. Eget nunc lobortis mattis aliquam. Nisi vitae suscipit tellus mauris. Dui nunc mattis enim ut tellus elementum sagittis vitae. Pharetra sit amet aliquam id diam maecenas ultricies. Viverra suspendisse potenti nullam ac tortor vitae purus faucibus ornare. Senectus et netus et malesuada fames ac. Faucibus vitae aliquet nec ullamcorper sit. Euismod lacinia at quis risus sed vulputate odio. Phasellus vestibulum lorem risus.
                    </p>

                    <button class="special__about__offer-container-two-button">Optional CTA goes here</button>

                </div>


            </div>

        </div>
        <div class="question__page">
            <div class="container-xxl question__page__container">
                <h1 class="special__about__offer-container-two-heading">
                    RSVP
                </h1>
                <p class="special__about__offer-container-one-offer-div-sub-heading dark-color below-rsvp">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida
                    dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvina.
                </p>

                <div class="question__page__container-details">
                    <div class="question__page__container-details-div">
                        <p class="question__page__container-details-div-heading">FIRST NAME<span style="color: red;">*</span>
                        </p>
                        <input type="text" name="" id="" class="question__page__container-details-div-input"
                            placeholder="Enter first Name">
                    </div>
                    <div class="question__page__container-details-div">
                        <p class="question__page__container-details-div-heading">LAST NAME</p>
                        <input type="text" name="" id="" class="question__page__container-details-div-input"
                            placeholder="Enter last Name">
                    </div>
                </div>

                <div class="question__page__container-details">
                    <div class="question__page__container-details-div">
                        <p class="question__page__container-details-div-heading">PHONE</p>
                        <input type="number" name="" id="" class="question__page__container-details-div-input"
                            placeholder="Enter phone number">
                    </div>
                    <div class="question__page__container-details-div">
                        <p class="question__page__container-details-div-heading">EMAIL</p>
                        <input type="email" name="" id="" class="question__page__container-details-div-input"
                            placeholder="Enter email address">
                    </div>
                </div>

                <div class="question__page__container-details">
                    <div class="question__page__container-details-div-message">
                        <p class="question__page__container-details-div-heading">MESSAGE</p>

                        <textarea name="" id="" cols="30" rows="10" placeholder="Enter your question or comment"
                            class="question__page__container-details-div-message-textarea"></textarea>
                    </div>

                </div>

                <div class="question__page__container-contact">

                    <div class="question__page__container-contact-div">
                        <p class="question__page__container-details-div-heading">PREFERRED CONTACT METHOD</p>
                        <div class="question__page__container-contact-div-checkbox-container">
                            <input class="question__page__container-contact-div-checkbox-container-input form-check-input"
                                type="checkbox" name="phone" id="phone">
                            <label class="question__page__container-contact-div-checkbox-container-label form-check-label"
                                for="phone">Phone
                            </label>
                            <input class="question__page__container-contact-div-checkbox-container-input form-check-input"
                                type="checkbox" name="text" id="text">
                            <label class="question__page__container-contact-div-checkbox-container-label form-check-label"
                                for="text">Text
                            </label>
                            <input class="question__page__container-contact-div-checkbox-container-input form-check-input"
                                type="checkbox" name="email" id="email">
                            <label class="question__page__container-contact-div-checkbox-container-label form-check-label"
                                for="email">Email
                            </label>
                        </div>
                    </div>

                    <img src="../../images/captcha.png" alt="">

                </div>

                <button type="submit" class="question__page__container-submit-button">Submit</button>


            </div>
        </div>
        <div class="offer__detail">

            <div class="container-xxl question__page__container">
                <p class="century__dimmer__communities-container-paragraph">
                    *Placeholder for fine print if needed. <br>
                    **Available only on the purchase of a to-be-built home in the Century Communities Carolinas Division above
                    when you sign a contract on or before 06/15/2020. **Receipt of up to $3,000 towards closing costs is
                    contingent upon buyer closing a loan with our affiliated lender, Inspire Home Loans, and is subject to
                    limits. Any incentive to use Inspire Home Loans may not exceed 3% of sales price. The offer to pay closing
                    costs does not include payment of prepaid taxes, property or mortgage insurance, or mortgage installments.
                    Persons in photos do not reflect racial preference and housing is open to all without regard to race, color,
                    religion, sex, handicap, familial status or national origin. Prices, plans, and terms are effective on the
                    date of publication and subject to change without notice. Depictions of homes or other features are artist
                    conceptions. Hardscape, landscape, and other items shown may be decorator suggestions that are not included
                    in the purchase price and availability may vary. Inspire Home Loans Inc. NMLS# 1564276 © 05/2020 Century
                    Communities, Inc. *Receipt of up to $25,000 off basement incentive is available only on the purchase of a
                    home mentioned above when you sign a contract on or before 06/30/2020. Prices, plans, and terms are
                    effective on the date of publication and subject to change without notice. Depictions of homes or other
                    features are artist conceptions. Persons in photos do not reflect racial preference and housing is open to
                    all without regard to race, color, religion, sex, handicap, familial status or national origin. Hardscape,
                    landscape, and other items shown may be decorator suggestions that are not included in the purchase price
                    and availability may vary. © 06/2020 Century Communities, Inc
                </p>
            </div>

        </div>
        <!-- <div class="related">

            <div class="container-xxl related__container">

                <div class="glider-contain">
                    <p class="special__offer__image-div-heading related__heading">RELATED</p>
                    <div class="glider">
                        <div class="related__div">

                            <img src="../../images/related-image-one.png" class="related__div__image" alt="">
                            <div class="related__div__heading-date">
                                <p class="related__div__heading-date-title">HOMEBUYERS</p>
                                <div class="related__div__heading-date-vl"></div>
                                <p class="related__div__heading-date-date">March 14, 2020</p>
                            </div>
                            <p class="related__div__heading">
                                Vinyl siding 101: pros, cons and everything in-between
                            </p>
                            <p class="related__div__sub-heading">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua ut enim… Read
                            </p>

                        </div>

                        <div class="related__div">

                            <img src="../../images/related-image-two.png" class="related__div__image" alt="">
                            <div class="related__div__heading-date">
                                <p class="related__div__heading-date-title">HOMEBUYERS</p>
                                <div class="related__div__heading-date-vl"></div>
                                <p class="related__div__heading-date-date">March 14, 2020</p>
                            </div>
                            <p class="related__div__heading">
                                The new normal of remote homebuying and how to make sure you’re happy
                            </p>
                            <p class="related__div__sub-heading">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua ut enim… Read
                            </p>

                        </div>

                        <div class="related__div">

                            <img src="../../images/related-image-three.png" class="related__div__image" alt="">
                            <div class="related__div__heading-date">
                                <p class="related__div__heading-date-title">TIPS & TRICKS</p>
                                <div class="related__div__heading-date-vl"></div>
                                <p class="related__div__heading-date-date">March 14, 2020</p>
                            </div>
                            <p class="related__div__heading">
                                Bring the outside in, with succulents and other easy potted plants  
                            </p>
                            <p class="related__div__sub-heading">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua ut enim… Read
                            </p>

                        </div>

                        <div class="related__div">

                            <img src="../../images/related-image-one.png" class="related__div__image" alt="">
                            <div class="related__div__heading-date">
                                <p class="related__div__heading-date-title">HOMEBUYERS</p>
                                <div class="related__div__heading-date-vl"></div>
                                <p class="related__div__heading-date-date">March 14, 2020</p>
                            </div>
                            <p class="related__div__heading">
                                Vinyl siding 101: pros, cons and everything in-between
                            </p>
                            <p class="related__div__sub-heading">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua ut enim… Read
                            </p>

                        </div>

                        <div class="related__div">

                            <img src="../../images/related-image-one.png" class="related__div__image" alt="">
                            <div class="related__div__heading-date">
                                <p class="related__div__heading-date-title">HOMEBUYERS</p>
                                <div class="related__div__heading-date-vl"></div>
                                <p class="related__div__heading-date-date">March 14, 2020</p>
                            </div>
                            <p class="related__div__heading">
                                Vinyl siding 101: pros, cons and everything in-between
                            </p>
                            <p class="related__div__sub-heading">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua ut enim… Read
                            </p>

                        </div>

                    </div>

                    <button aria-label="Previous" class="glider-prev">«</button>
                    <button aria-label="Next" class="glider-next">»</button>
                    <div role="tablist" class="dots"></div>
                </div>

            </div>

        </div> -->
    </main>
    <div class="footer">

        <div class="footer__container container-xxl">

            <div class="footer__container__one">

                <div class="footer__container__one-div">

                    <h1 class="footer__container__one-div-heading">Homebuyers</h1>
                    <p class="footer__container__one-div-sub-heading">
                        Homebuying Process
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Our Affiliates
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Blog
                    </p>

                    <div class="footer__container__one-div-images">
                        <img src="../../images/inspire-image.png" alt="">
                        <img src="../../images/parkway-image.png" alt="">
                        <img src="../../images/ihl-image.png" alt="">
                    </div>

                </div>

                <div class="footer__container__one-div">

                    <h1 class="footer__container__one-div-heading">Homeowner</h1>
                    <p class="footer__container__one-div-sub-heading">
                        Maintenance Videos
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Caring for Your New Home
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Customer Service
                    </p>
                </div>

                <div class="footer__container__one-div">
                    <h1 class="footer__container__one-div-heading">Discover century</h1>
                    <p class="footer__container__one-div-sub-heading">
                        About Us
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Century Home Connect
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Homeowner Reviews
                    </p>
                    <p class="footer__container__one-div-sub-heading"> News</p>
                    <p class="footer__container__one-div-sub-heading">Careers</p>
                    <p class="footer__container__one-div-sub-heading">Investors</p>
                </div>

                <div class="footer__container__one-div">

                    <h1 class="footer__container__one-div-heading">Contact Us</h1>

                    <p class="footer__container__one-div-sub-heading">
                        General Inquiry
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Realtors
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Land Submission
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Trade Partners
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Media
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Warranty Claim
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Our Offices
                    </p>

                </div>

            </div>


            <div class="footer__container__two">

                <div class="footer__container__two-first">

                    <div class="footer__container__two-first-div">
                        <img src="../../images/century-communities-footer-image.png" 
                        class="footer__container__two-first-div-image"
                        alt="">
                        <div class="footer__container__two-first-div-vl">

                        </div>
                        <i class="fa-brands fa-linkedin-in footer__container__two-first-div-i"></i>
                        <i class="fa-brands fa-facebook-f footer__container__two-first-div-i"></i>
                        <i class="fa-brands fa-pinterest footer__container__two-first-div-i"></i>
                        <i class="fa-brands fa-instagram footer__container__two-first-div-i"></i>
                    </div>

                    <div class="footer__container__two-first-div">
                        <img src="../../images/century-complete-footer-image.png" 
                        class="footer__container__two-first-div-image"
                        alt="">
                        <div class="footer__container__two-first-div-vl">

                        </div>
                        <i class="fa-brands fa-linkedin-in footer__container__two-first-div-i"></i>
                        <i class="fa-brands fa-facebook-f footer__container__two-first-div-i"></i>
                        <i class="fa-brands fa-pinterest footer__container__two-first-div-i"></i>
                        <i class="fa-brands fa-instagram footer__container__two-first-div-i"></i>
                    </div>
                </div>

            
                <div class="footer__container__two-second">
                    <div class="footer__container__two-second-div">
                       <a href="#" class="footer__container__two-second-div-a">Privacy Policy</a>
                       <div class="footer__container__two-second-div-border-div"></div>
                       <a href="#" class="footer__container__two-second-div-a">Terms Of Use</a>
                       <div class="footer__container__two-second-div-border-div"></div>
                       <a href="#" class="footer__container__two-second-div-a">Excerise My Rights</a>
                    </div>
                    <p class="footer__container__two-second-copyright" >
                        © 2020 CENTURY COMMUNITIES, All Rights Reserved.
                    </p>
                </div>

            </div>

        </div>

    </div>
    <!-- JS ============================== -->

    <!-- inject:js -->
    <script src="../../js/main.min.js"></script>
    <!-- endinject -->
    <!-- / JS ============================ -->
</body>

</html>