<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Home Buying Process</title>
    <link rel="icon" type="image/x-icon" href="../../images/16x16-SLUHN.ico">
    <link rel="apple-touch-icon" href="../../images/star_apple-touch-icon-192x192.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- inject:css -->
    <link rel="stylesheet" href="../../css/style.min.css">
    <!-- endinject -->

</head>

<body class="body">
    <header class="header">

        <div class="header__one">
            <div class="header__container__one">

                <div class="header__container__one-logo">
                    <img src="../../images/logo.png" class="header__container__one-logo-image" alt="">
                    <i class="fa-solid fa-bars header__container__one-logo-menu-bar"></i>
                </div>

                <ul class="header__container__one-nav-links">

                    <li class="heading__li">
                        <a href="#" class="header__container__one-nav-links-item">HOMEBUYERS</a>
                        <ul class="ul__header">
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Homebuying Process</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Online Homebuying</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Our Affiliates</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Blog: The Front Porch</a>
                            </li>
                        </ul>
                    </li>

                    <li class="heading__li">
                        <a href="#" class="header__container__one-nav-links-item">HOMEOWNERS</a>
                        <ul class="ul__header">
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Maintenance Videos</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Caring For Your Home</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Customer Service</a>
                            </li>

                        </ul>
                    </li>

                    <li class="heading__li">
                        <a href="#" class="header__container__one-nav-links-item">DISCOVER CENTURY</a>
                        <ul class="ul__header">
                            <li>
                                <a href="" class="ul__header__sub__menu-a">About Us</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Century Home Connect</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Careers</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Homeowner Reviwes</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Vendor Partners</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">News</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Investors</a>
                            </li>

                        </ul>
                    </li>

                    <li class="heading__li">
                        <a href="#" class="header__container__one-nav-links-item">CONTACT US</a>
                        <ul class="ul__header">
                            <li>
                                <a href="" class="ul__header__sub__menu-a">General Inquiry</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Land Submission</a>
                            </li>

                            <li>
                                <a href="" class="ul__header__sub__menu-a">Media</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Our Offices</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Realtors</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Trade Partners</a>
                            </li>
                            <li>
                                <a href="" class="ul__header__sub__menu-a">Warrenty Claim</a>
                            </li>

                        </ul>
                    </li>

                </ul>

            </div>

            <div class="header__container__two">

                <div class="header__container__two-div">
                    <input type="search" name="" id="" placeholder="Enter city, state or zip to search new homes"
                        class="header__container__two-div-input">
                    <i class="fa fa-search header__container__two-div-search-icon"></i>
                </div>

                <div class="header__container__two-vl">

                </div>

                <p class="header__container__two-p">Or use map</p>
                <img src="../../images/map-icon.png" class="header__container__two-map-icon" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" alt="">

            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- <img src="../../images/century-map-image.png" alt=""
                    class="header__modal__body-image"
                    > -->
                    </div>

                </div>
            </div>
        </div>



    </header>

    <main id="main">
        <div class="home__buying__process">
            <h1 class="home__buying__process-heading">Explore the homebuying process</h1>
        </div>

        <div class="home__buying__process-hero">

            <p class="home__buying__process-hero-title">Whether it’s your first time buying a new home or you’re in need of a refresher for the next home purchase, we’re
                here to walk you through the process—ensuring that you’ll be prepared and informed every step of the way.</p>

        </div>
        <div class="home__buying__process-steps container-xxl">

            <h1 class="home__buying__process-steps-heading">Basic steps of the journey</h1>

            <!-- Step 1 -->

            <div class="home__buying__process-steps-div">

                <div class="home__buying__process-steps-div-image">
                    <img src="../../images/to-do-list-image.png" alt="">
                </div>

                <div class="home__buying__process-steps-div-details">

                    <h1 class="home__buying__process-steps-div-details-serial-number">01</h1>
                    <p class="home__buying__process-steps-div-details-heading">Prequalify</p>
                    <p class="home__buying__process-steps-div-details-heading">Get a no-strings-attached financial assessment
                    </p>
                    <p class="home__buying__process-steps-div-details-sub-heading">This no-commitment, knowledge-building
                        exercise gives you insight into how much home you could probably
                        afford, as well as which home loan type might be your best fit. All it requires is for a lender to take
                        a snapshot of your finances and run a soft credit check.
                    </p>
                    <p class="home__buying__process-steps-div-details-sub-heading">
                        Prequalification is a powerful tool that will let you know exactly what steps you’ll need to take before
                        you’re ready to purchase a home—if you’re not there already! It also establishes a relationship with a
                        lender, which will come in handy later on when you need preapproval to purchase a particular home.
                    </p>

                    <button class="home__buying__process-steps-div-details-button">Get prequalified</button>


                </div>

                <div class="home__buying__process-steps-div-suggestion">

                    <div class="home__buying__process-steps-div-suggestion-div">
                        <i class="fa-solid fa-triangle-exclamation home__buying__process-steps-div-suggestion-div-i"></i>
                        <p class="home__buying__process-steps-div-suggestion-div-p">Common homebuying myths</p>
                    </div>

                    <div class="home__buying__process-steps-div-suggestion-details">
                        <div class="home__buying__process-steps-div-suggestion-details-div">
                            <p class="home__buying__process-steps-div-suggestion-details-heading">You need a 20% down payment.
                            </p>
                            <p class="home__buying__process-steps-div-suggestion-details-sub-heading">Actually, most buyers
                                don’t. Some even qualify for zero-down loans.</p>
                        </div>

                        <div class="home__buying__process-steps-div-suggestion-details-div">
                            <p class="home__buying__process-steps-div-suggestion-details-heading">You have to pay for
                                everything.</p>
                            <p class="home__buying__process-steps-div-suggestion-details-sub-heading">Maybe not. Several home
                                loan types allow you to use a financial gift from family or friends toward your home purchase.
                            </p>
                        </div>

                        <div class="home__buying__process-steps-div-suggestion-details-div">
                            <p class="home__buying__process-steps-div-suggestion-details-heading">You need perfect credit.</p>
                            <p class="home__buying__process-steps-div-suggestion-details-sub-heading">There wouldn’t be many
                                homebuyers if this were the case. While exceptional credit is ideal, many buyers have no trouble
                                qualifying for a home loan with good credit.</p>
                        </div>
                    </div>
                </div>


            </div>

            <!-- Step 2 -->

            <div class="home__buying__process-steps-div">

                <div class="home__buying__process-steps-div-image">
                    <img src="../../images/house-search-image.png" alt="">
                </div>

                <div class="home__buying__process-steps-div-details">

                    <h1 class="home__buying__process-steps-div-details-serial-number">02</h1>
                    <p class="home__buying__process-steps-div-details-heading">House hunt</p>
                    <p class="home__buying__process-steps-div-details-heading">Search on-site or online
                    </p>
                    <p class="home__buying__process-steps-div-details-sub-heading">Once you’ve prequalified and know your price
                        range, you’re ready to go shopping. Depending on what’s most convenient for you, you could browse
                        online, tour communities in person, or a combination of both! This is the time to put together your wish
                        list of everything you’d want in your dream home.
                    </p>
                    <button class="home__buying__process-steps-div-details-button">Start your search</button>


                </div>

                <div class="home__buying__process-steps-div-suggestion">

                    <div class="home__buying__process-steps-div-suggestion-div">
                        <i class="fa-solid fa-list-check home__buying__process-steps-div-suggestion-div-i purple-color"></i>
                        <p class="home__buying__process-steps-div-suggestion-div-p purple-color">Potential wish-list items</p>
                    </div>

                    <div class="home__buying__process-steps-div-suggestion-details">
                        <div class="home__buying__process-steps-div-suggestion-details-div">
                            <p class="home__buying__process-steps-div-suggestion-details-heading light__blue__color">Number of
                                bedrooms and
                                bathrooms.
                            </p>
                        </div>
                        <div class="home__buying__process-steps-div-suggestion-details-div">
                            <p class="home__buying__process-steps-div-suggestion-details-heading light__blue__color">Number of
                                stories</p>
                        </div>
                        <div class="home__buying__process-steps-div-suggestion-details-div">
                            <p class="home__buying__process-steps-div-suggestion-details-heading light__blue__color">Proximity
                                to work, school and
                                amenities</p>
                        </div>
                        <div class="home__buying__process-steps-div-suggestion-details-div">
                            <p class="home__buying__process-steps-div-suggestion-details-heading light__blue__color">Space for a
                                home office</p>
                        </div>
                        <div class="home__buying__process-steps-div-suggestion-details-div">
                            <p class="home__buying__process-steps-div-suggestion-details-heading light__blue__color">How quickly
                                you hope to move
                            </p>
                        </div>
                    </div>
                </div>


            </div>


            <!-- Step 3 -->

            <div class="home__buying__process-steps-div">

                <div class="home__buying__process-steps-div-image">
                    <img src="../../images/documentation-image.png" alt="">
                </div>

                <div class="home__buying__process-steps-div-details">

                    <h1 class="home__buying__process-steps-div-details-serial-number">03</h1>
                    <p class="home__buying__process-steps-div-details-heading">Contract</p>
                    <p class="home__buying__process-steps-div-details-heading">Make a preliminary commitment to buy
                    </p>
                    <p class="home__buying__process-steps-div-details-sub-heading">One of the great advantages of new home
                        construction is that it’s first-come, first-served. As long as you’re a qualified buyer, the house is
                        yours if you’re the one who got there first. When you’ve found a home that checks the right boxes,
                        you’ll want to act fast to get it under contract—ensuring that no other buyer can swoop in and buy it
                        out from under you.
                    </p>

                </div>

                <div class="home__buying__process-steps-div-suggestion">

                    <div class="home__buying__process-steps-div-suggestion-div">
                        <i
                            class="fa-solid fa-screwdriver-wrench home__buying__process-steps-div-suggestion-div-i purple-color"></i>
                        <p class="home__buying__process-steps-div-suggestion-div-p purple-color">Contracting considerations </p>
                    </div>

                    <div class="home__buying__process-steps-div-suggestion-details">
                        <div class="home__buying__process-steps-div-suggestion-details-div">
                            <p class="home__buying__process-steps-div-suggestion-details-heading light__blue__color">
                                Home loan preapproval
                            </p>
                        </div>
                        <div class="home__buying__process-steps-div-suggestion-details-div">
                            <p class="home__buying__process-steps-div-suggestion-details-heading light__blue__color">
                                Earnest money deposit
                            </p>
                        </div>
                        <div class="home__buying__process-steps-div-suggestion-details-div">
                            <p class="home__buying__process-steps-div-suggestion-details-heading light__blue__color"> Building
                                timeline</p>
                        </div>
                        <div class="home__buying__process-steps-div-suggestion-details-div">
                            <p class="home__buying__process-steps-div-suggestion-details-heading light__blue__color">
                                Avoiding major transactions before closing,
                            </p>
                            <p class="home__buying__process-steps-div-details-sub-heading left__margin">
                                like purchasing a car or large furniture
                            </p>
                        </div>

                    </div>
                </div>


            </div>


            <!-- Step 4 -->

            <div class="home__buying__process-steps-div">

                <div class="home__buying__process-steps-div-image">
                    <img src="../../images/deal-close-image.png" alt="">
                </div>

                <div class="home__buying__process-steps-div-details">

                    <h1 class="home__buying__process-steps-div-details-serial-number">04</h1>
                    <p class="home__buying__process-steps-div-details-heading">Close</p>
                    <p class="home__buying__process-steps-div-details-heading">Put a bow on it and grab the keys… you’re a new
                        homeowner!
                    </p>
                    <p class="home__buying__process-steps-div-details-sub-heading">This is your big day to sign final paperwork
                        and breathe a sigh of satisfaction, because you’ve officially bought a home. And whether it’s your first
                        house, or one of several, the feeling never gets old. You’ll also love the peace of mind that comes with
                        a new home warranty, providing coverage on major items and repairs.
                    </p>

                </div>

                <div class="home__buying__process-steps-div-suggestion">

                    <div class="home__buying__process-steps-div-suggestion-div">
                        <i class="fa-solid fa-key home__buying__process-steps-div-suggestion-div-i purple-color"></i>
                        <p class="home__buying__process-steps-div-suggestion-div-p purple-color">Closing considerations </p>
                    </div>

                    <div class="home__buying__process-steps-div-suggestion-details">
                        <div class="home__buying__process-steps-div-suggestion-details-div">
                            <p class="home__buying__process-steps-div-suggestion-details-heading light__blue__color">
                                Down payment
                            </p>
                        </div>
                        <div class="home__buying__process-steps-div-suggestion-details-div">
                            <p class="home__buying__process-steps-div-suggestion-details-heading light__blue__color">
                                Closing costs
                            </p>
                        </div>
                        <div class="home__buying__process-steps-div-suggestion-details-div">
                            <p class="home__buying__process-steps-div-suggestion-details-heading light__blue__color"> Homeowner
                                insurance</p>
                        </div>
                        <div class="home__buying__process-steps-div-suggestion-details-div">
                            <p class="home__buying__process-steps-div-suggestion-details-heading light__blue__color">
                                Moving arrangements
                            </p>
                        </div>

                        <div class="home__buying__process-steps-div-suggestion-details-div">
                            <p class="home__buying__process-steps-div-suggestion-details-heading light__blue__color">
                                Change of address
                            </p>
                        </div>
                    </div>
                </div>


            </div>


        </div>
        <div class="difference">

            <div class="container-xxl difference__container">

                <h1 class="difference__container__heading">How we make it easy</h1>

                <p class="difference__container__sub-heading">
                    Our two homebuilder brands—Century Communities and Century Complete—feature different homebuying experiences
                    that allow you to tailor the process to your needs.
                </p>

                <div class="difference__container__div">

                    <div class="difference__container__div-rows first__bottom__border-row">

                        <div class="difference__container__div-rows-section-one">

                        </div>
                        <div class="difference__container__div-rows-section-two">
                            <div class="difference__container__div-rows-section-two-container-one">
                                <img src="../../images/century-communities-vertical-image.png" alt="">
                            </div>
                            <div class="difference__container__div-rows-section-two-container-two">
                                <img src="../../images/century-complete-vertical-image.png" alt="">
                            </div>
                        </div>

                    </div>

                    <div class="difference__container__div-rows">

                        <div class="difference__container__div-rows-section-one">
                            <p class="difference__container__div-rows-section-one-heading">
                                Purchase a to-be-built home
                            </p>
                            <p class="difference__container__div-rows-section-one-sub-heading">
                                If you’re looking to pick your homesite and build from the ground up—personalizing your floor
                                plan with structural and design options along the way—our flagship brand is for you.
                            </p>
                        </div>


                        <div class="difference__container__div-rows-section-two">
                            <div class="difference__container__div-rows-section-two-container-one">
                                <i
                                    class="fa-solid fa-circle-check difference__container__div-rows-section-two-container-one-i brown-color-check-mark"></i>
                            </div>
                            <div class="difference__container__div-rows-section-two-container-two">

                            </div>
                        </div>

                    </div>

                    <div class="difference__container__div-rows">

                        <div class="difference__container__div-rows-section-one">
                            <p class="difference__container__div-rows-section-one-heading">
                                Purchase a quick move-in home
                            </p>
                            <p class="difference__container__div-rows-section-one-sub-heading">
                                If you’re in need of something on a faster timeline, both of our brands give you the option to
                                purchase a quick move-in home—with Century Complete offering streamlined single-family homes at
                                a more affordable price, and Century Communities offering everything from quick move-in
                                single-family homes to townhomes and condos.
                            </p>
                        </div>


                        <div class="difference__container__div-rows-section-two">
                            <div class="difference__container__div-rows-section-two-container-one">
                                <i
                                    class="fa-solid fa-circle-check difference__container__div-rows-section-two-container-one-i brown-color-check-mark"></i>
                            </div>
                            <div class="difference__container__div-rows-section-two-container-two">
                                <i
                                    class="fa-solid fa-circle-check difference__container__div-rows-section-two-container-one-i blue-color-check-mark"></i>
                            </div>
                        </div>

                    </div>

                    <div class="difference__container__div-rows">

                        <div class="difference__container__div-rows-section-one">
                            <p class="difference__container__div-rows-section-one-heading">
                                Buy online
                            </p>
                            <p class="difference__container__div-rows-section-one-sub-heading">
                                Every Century Complete home on this website comes with a “Buy Now” option, allowing you to
                                purchase ANY home completely online. It’s as easy as 1, 2, key.
                            </p>
                        </div>


                        <div class="difference__container__div-rows-section-two">
                            <div class="difference__container__div-rows-section-two-container-one">

                            </div>
                            <div class="difference__container__div-rows-section-two-container-two">
                                <i
                                    class="fa-solid fa-circle-check difference__container__div-rows-section-two-container-one-i blue-color-check-mark"></i>
                            </div>
                        </div>

                    </div>

                    <div class="difference__container__div-rows">

                        <div class="difference__container__div-rows-section-one">
                            <p class="difference__container__div-rows-section-one-heading">
                                Reserve online
                            </p>
                            <p class="difference__container__div-rows-section-one-sub-heading">
                                Similar to Century Complete’s “Buy Now” feature, look for our “Reserve Now” button on quick
                                move-in homes by Century Communities. This convenient tool allows you to hold a home for 24
                                hours, ensuring that no other buyer can purchase the home, as well as giving you time to follow
                                up with our sales team and complete your new home contract.
                            </p>
                        </div>


                        <div class="difference__container__div-rows-section-two">
                            <div class="difference__container__div-rows-section-two-container-one">
                                <i
                                    class="fa-solid fa-circle-check difference__container__div-rows-section-two-container-one-i brown-color-check-mark"></i>
                            </div>
                            <div class="difference__container__div-rows-section-two-container-two">

                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
        <div class="stream__line">

            <div class="container-xxl stream__line__container">
                <p class="stream__line__container-heading">MORE WAYS TO STREAMLINE</p>
                <p class="stream__line__container-sub-heading">Our affiliate companies allow you to make the process even
                    easier, offering everything from in-house mortgage
                    financing to title and insurance services. With everything under the same roof, you’ll enjoy a more seamless
                    experience that allows you to focus more on the excitement of buying your dream home.</p>

                    <div class="stream__line__container-stream-lines">
                        <img src="../../images/inspire-home-buying.png" alt="">
                        <img src="../../images/parkway-home-buying.png" alt="">
                        <img src="../../images/ihl-home-buying.png" alt="">
                    </div>

                    <button class="stream__line__container-button">Learn more</button>

            </div>

        </div>
        <div class="resources">

            <div class="resources__container container-xxl">

                <h1 class="resources__container__heading">RESOURCES</h1>

                <div class="resources__container__div">

                    <div class="resources__container__div-one">
                        <img src="../../images/related-image-one.png" class="resources__container__div-one-image" alt="">
                        <div class="resources__container__div-one-text-container">
                            <p class="resources__container__div-one-text-container-heading">HOMEBUYERS</p>
                            <div class="related__div__heading-date-vl"></div>
                            <p class="resources__container__div-one-text-container-date">March 14, 2020</p>
                        </div>
                        <p class="resources__container__div-one-heading">
                            Vinyl siding 101: pros, cons and everything in-between
                        </p>
                        <p class="resources__container__div-one-sub-heading">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua ut enim… Read
                        </p>

                    </div>

                    <div class="resources__container__div-one">
                        <img src="../../images/related-image-two.png" class="resources__container__div-one-image" alt="">
                        <div class="resources__container__div-one-text-container">
                            <p class="resources__container__div-one-text-container-heading">HOMEBUYERS</p>
                            <div class="related__div__heading-date-vl"></div>
                            <p class="resources__container__div-one-text-container-date">March 14, 2020</p>
                        </div>
                        <p class="resources__container__div-one-heading">
                            The new normal of remote homebuying and how to make sure you’re happy
                        </p>
                        <p class="resources__container__div-one-sub-heading">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua ut enim… Read
                        </p>

                    </div>

                    <div class="resources__container__div-one">
                        <img src="../../images/related-image-three.png" class="resources__container__div-one-image" alt="">
                        <div class="resources__container__div-one-text-container">
                            <p class="resources__container__div-one-text-container-heading">HOMEBUYERS</p>
                            <div class="related__div__heading-date-vl"></div>
                            <p class="resources__container__div-one-text-container-date">March 14, 2020</p>
                        </div>
                        <p class="resources__container__div-one-heading">
                            All your home painting questions answered, from indoor to outdoor and all the rest  
                        </p>
                        <p class="resources__container__div-one-sub-heading">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua ut enim… Read
                        </p>

                    </div>

                </div>

            </div>

        </div>
    </main>
    <div class="footer">

        <div class="footer__container container-xxl">

            <div class="footer__container__one">

                <div class="footer__container__one-div">

                    <h1 class="footer__container__one-div-heading">Homebuyers</h1>
                    <p class="footer__container__one-div-sub-heading">
                        Homebuying Process
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Our Affiliates
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Blog
                    </p>

                    <div class="footer__container__one-div-images">
                        <img src="../../images/inspire-image.png" alt="">
                        <img src="../../images/parkway-image.png" alt="">
                        <img src="../../images/ihl-image.png" alt="">
                    </div>

                </div>

                <div class="footer__container__one-div">

                    <h1 class="footer__container__one-div-heading">Homeowner</h1>
                    <p class="footer__container__one-div-sub-heading">
                        Maintenance Videos
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Caring for Your New Home
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Customer Service
                    </p>
                </div>

                <div class="footer__container__one-div">
                    <h1 class="footer__container__one-div-heading">Discover century</h1>
                    <p class="footer__container__one-div-sub-heading">
                        About Us
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Century Home Connect
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Homeowner Reviews
                    </p>
                    <p class="footer__container__one-div-sub-heading"> News</p>
                    <p class="footer__container__one-div-sub-heading">Careers</p>
                    <p class="footer__container__one-div-sub-heading">Investors</p>
                </div>

                <div class="footer__container__one-div">

                    <h1 class="footer__container__one-div-heading">Contact Us</h1>

                    <p class="footer__container__one-div-sub-heading">
                        General Inquiry
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Realtors
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Land Submission
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Trade Partners
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Media
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Warranty Claim
                    </p>
                    <p class="footer__container__one-div-sub-heading">
                        Our Offices
                    </p>

                </div>

            </div>


            <div class="footer__container__two">

                <div class="footer__container__two-first">

                    <div class="footer__container__two-first-div">
                        <img src="../../images/century-communities-footer-image.png" 
                        class="footer__container__two-first-div-image"
                        alt="">
                        <div class="footer__container__two-first-div-vl">

                        </div>
                        <i class="fa-brands fa-linkedin-in footer__container__two-first-div-i"></i>
                        <i class="fa-brands fa-facebook-f footer__container__two-first-div-i"></i>
                        <i class="fa-brands fa-pinterest footer__container__two-first-div-i"></i>
                        <i class="fa-brands fa-instagram footer__container__two-first-div-i"></i>
                    </div>

                    <div class="footer__container__two-first-div">
                        <img src="../../images/century-complete-footer-image.png" 
                        class="footer__container__two-first-div-image"
                        alt="">
                        <div class="footer__container__two-first-div-vl">

                        </div>
                        <i class="fa-brands fa-linkedin-in footer__container__two-first-div-i"></i>
                        <i class="fa-brands fa-facebook-f footer__container__two-first-div-i"></i>
                        <i class="fa-brands fa-pinterest footer__container__two-first-div-i"></i>
                        <i class="fa-brands fa-instagram footer__container__two-first-div-i"></i>
                    </div>
                </div>

            
                <div class="footer__container__two-second">
                    <div class="footer__container__two-second-div">
                       <a href="#" class="footer__container__two-second-div-a">Privacy Policy</a>
                       <div class="footer__container__two-second-div-border-div"></div>
                       <a href="#" class="footer__container__two-second-div-a">Terms Of Use</a>
                       <div class="footer__container__two-second-div-border-div"></div>
                       <a href="#" class="footer__container__two-second-div-a">Excerise My Rights</a>
                    </div>
                    <p class="footer__container__two-second-copyright" >
                        © 2020 CENTURY COMMUNITIES, All Rights Reserved.
                    </p>
                </div>

            </div>

        </div>

    </div>
    <!-- JS ============================== -->

    <!-- inject:js -->
    <script src="../../js/main.min.js"></script>
    <!-- endinject -->
    <!-- / JS ============================ -->
</body>

</html>